body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #fcfc62;
}

.container{
    border: 1px solid #000;
    width: 95%;
    margin: auto;
    overflow: hidden;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;

}

.counter{
    border: 5px solid #000;
    width: 600px;
    height: 350px;
    margin: auto;
    padding: 25px;
    text-align: center;
    background: #feffea;
    border-radius: 1 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#count{
    font-size: 50px;
    font-weight: bold;
    color: #000;
}